<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Akshay Agarwala</title>
  <!-- <link rel="stylesheet" href="bootstrap-3.3.7-dist/css/bootstrap.min.css"> -->
  <link rel="stylesheet" href="style.css">
</head>
<body id = "portfolioBody">
  <div id = "wrapper">
    <header></header>

    <!-- Hero Image Here -->
    <section id = "intro">
      <div id = "mainPic">
        <div id = "mainPic-content">
          <h1 id = "name">Hello, my name is Akshay Agarwala.</h1>
          <p id = "name-content">I am a Full Stack Web Developer</p>
          <a href="#projects"><button type="button" class="btn-lg btn-primary">My Work</button></a>
          <a href="#me"><button type="button" class="btn-lg btn-primary">Contact Me</button></a>
        </div>
      </div> <!-- mainPic div -->
    </section> <!-- intro section above-->

    <!-- Start Projects Here -->
    <!-- <section id = "work"> -->
      <div id = "projects">
        <div class="row">

          <div class="col-sm-6 col-md-4 resize">
            <div class="thumbnail">
              <img src= "public/images/mic-B.jpg" alt="...">
              <div class="caption">
                <h3>JukeBox</h3>
                <p>Listen/Search for Tracks from Spotify. All searched tracks are saved usual control functuality is in place.</p>
                <p> <a href="https://github.com/agarwala802/JukeBox" class="btn btn-primary" role="button">Find In GitHub</a> </p>
              </div>
            </div>
          </div>

          <div class="col-sm-6 col-md-4 resize">
            <div class="thumbnail">
              <img src="http://localhost:3000/images/code1.jpg" alt="...">
              <div class="caption">
                <h3>Balanced Bracket</h3>
                <p>Scan a file and indicate if all brackets are balanced. Will indicate where any imbalance occurs.</p>
                <p> <a href="https://github.com/agarwala802/check-for-balanced-brackets" class="btn btn-primary" role="button">Find In GitHub</a> </p>
              </div>
            </div>
          </div>

          <div class="col-sm-6 col-md-4 resize">
            <div class="thumbnail">
              <img src="http://localhost:3000/images/travel.jpg" alt="...">
              <div class="caption">
                <h3>Trip Planner</h3>
                <p>Plan Your Trip! Pick two locations and find the desired route. Weather of both locations included.</p>
                <p>
                  <a href="/portfolio" class="btn btn-primary" role="button">Find In GitHub</a>
                  <a href="/form" class="btn btn-primary" role="button">Take Me There!</a>
                </p>
              </div>
            </div>
          </div>

        </div> <!-- row -->
      </div>
       <!-- projects div -->

    <!-- Start Contact Info Here -->
    <section id = "me">
      <div id = "contact">
        <h3 id = "contact-content">Contact Information:</h3>
        <p class = "contact-info">Phone: (917) 849-9614</p>
        <p class = "contact-info">Email:
          <a href="/">akshay.agarwala2010@gmail.com</a></p>

        <ul id = "contact-links">
          <li><a href="https://www.linkedin.com/in/AkshayAgarwala">LinkedIn</a></li>
          <li>|</li>
          <li><a href="https://github.com/agarwala802">GitHub</a></li>
          <li>|</li>
          <li><a href="https://twitter.com/Akshay_Agarwala">Twitter</a></li>
        </ul>
      </div> <!-- contact div -->
    </section> <!-- me section -->
  </div> <!-- wrapper div -->
</body>
</html>
